					{% for post in site.posts limit: 4 %}
							<div class="recent-top">
								<div class="col-md-4 recent-left">
								<img src="/assets/recent-1.png" alt="">
								</div> <!-- End col-md-4 recent-left -->
								<div class="col-md-8 recent-left">
									<span>{{ post.date | date: "%b %-d, %Y" }}</span>
									<a href="{{ post.url }}"><h5>{{ post.title }}</h5></a>
									<p>{{ post.content | truncatewords: 20 | strip_html }}</p>
								</div> <!-- End col-md-8 recent-left -->
								<div class="clearfix"></div>
							</div> <!-- End recent-top -->
					{% endfor %}
						</div><!-- End recent -->
					</div><!-- end col-md-4 blog-right -->
